<div class="form-body" [hidden]=submitted>
    <h2>Employee Registraton Form</h2>
    <form #userForm="ngForm">
        <div class="form-group">
            <label>Name</label><br>
            <input #nameRef="ngModel" required type="text" class="form-control" name="name" [(ngModel)]="employeeName">
            <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)" class="alert-alert-danger">Name is
                required</div>
        </div>

        <br>
        <div class="form-group">
            <label>Company</label><br>
            <input #companyRef="ngModel" required type="text" name="company" class="form-control"
                [(ngModel)]="employeeCompany">
            <div *ngIf="companyRef.invalid && (companyRef.dirty || companyRef.touched)" class="alert-alert-danger">
                Company is required</div>
        </div>

        <br>
        <div class="form-group">
            <label>Email</label><br>
            <input #emailRef="ngModel" required type="email" pattern=".+.com"  name="email" class="form-control"
                [(ngModel)]="employeeEmail">
            <div *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)" class="alert-alert-danger">Email is
                required</div>
        </div>

        <br>
        <div class="form-group">
            <label>Contact Number</label><br>
            <input #contactRef="ngModel" (keypress)="numberOnly($event)" required type="text" name="contact" class="form-control"
                [(ngModel)]="employeeContact">
            <div *ngIf="contactRef.invalid && (contactRef.dirty || contactRef.touched)" class="alert-alert-danger">
                Contact is required</div>
        </div>

        <br>
        <div class="form-group">
            <label>Designation</label><br>
            <input #designationRef="ngModel" required type="text" name="designation" class="form-control"
                [(ngModel)]="employeeDesignation">
            <div *ngIf="designationRef.invalid && (designationRef.dirty || designationRef.touched)"
                class="alert-alert-danger">Designation is required</div>
        </div>
        <br>

        <div style="padding-left: 30%;">
            <button type="submit" (click)="onSubmit(userForm, $event)" [disabled]="userForm.invalid">Submit</button>
        </div>
    </form>

</div>
<br>

  <!-- Mat-Table -->

<div [hidden]=!submitted>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Company Column -->
        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company</th>
            <td mat-cell *matCellDef="let element"> {{element.company}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Contact Column -->
        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact</th>
            <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
        </ng-container>

          <!-- Designation Column -->
        <ng-container matColumnDef="designaton">
            <th mat-header-cell *matHeaderCellDef> Designation </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>

          <!-- Edit Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell  *matCellDef="let element">
                <button (click)="captureTheRowAndReloadTheForm(element)" type="button" class="edit-button">Edit</button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (dblclick) = openDialog(row) *matRowDef="let row; columns: displayedColumns;"
            class="save-config-row"></tr>
    </table>
    <p class="delete-the-row">Double click on the rows to delete the row</p>
</div>