input.ng-invalid{
    border-left: 5px solid lightsalmon;
    border-right: 5px solid lightsalmon;
}

input.ng-valid{
    border-left: 5px solid lightgreen;
    border-right: 5px solid lightgreen;
}

* {
    box-sizing: border-box;
  }

label{
    display: inline-block;
    color: black;
    font-weight: bold;

}

::ng-deep h2{
    padding-left: 25%;
    /* text-align: center; */
}

::ng-deep .alert-alert-danger{
    font-size: 12px;
    color: red;
    font-weight: bold;
}

input{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid pink;
    border-radius: 5px;
}

.form-body{
    padding-left: 20%;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    background-color: pink;
    padding-bottom: 2%;
    padding-top: 0.5%;
    content: "";
    /* display: table; */
    clear: both;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

button{
    height: 40px;
    width: 20%;
    background-color: purple;
    border: none; 
    color: white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;

}

button:disabled{
    color: black;
    cursor: unset;
    background-color: palevioletred
}

.delete-the-row{
    padding-left: 40%;
    font-size: 15px;;
}


table{
    width: 100%;
}

.save-config-row:hover{
    /* background-color: lightblue; */
    cursor: pointer;

}

.edit-button{
    width: 38px;
    /* height: auto; */
    font-size: 85%;
    height: 25px;
}